// =======ABOUT SECTION======================
.about-section {
    background-color: #e4e4e4;
    padding-top: 90px;
    position: relative;
    margin-top: -150px;
    z-index: 1;
    padding-bottom: 20px;
}
.about-section__lead {
    font-size: 40px;
    line-height: 64px;
    font-weight: normal;
    color:#2d314d;
    margin: 0;
}
.about-section__text {
    font-size: 18px;
    line-height: 28px;
    width: 635px;
    margin-top: 16px;
    color: #9597a5
}
.about-section__list {
    @include list-unstyled;
    display: flex;
    margin-top: 70px;
}
.about-section__item {

}
.about-section__item ~ .about-section__item {
    margin-left: 30px;
}
.about-section__image {

}
.about-section__item-lead {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 20px;
    color: #2d314d;
}
.about-section__item-text {
    font-size: 16px;
    line-height: 26px;
    color: #9597a5;
}
@include breakpoint-down (1000px) {
    .about-section {
        padding-left: 2%;
    }
    .about-section__list {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .about-section__item {
        width: 280px;
        margin: 20px;
    }
    .about-section__item ~ .about-section__item {
        margin-left: 0;
    }
    .about-section__text {
        width: 70%;
    }
}
@include breakpoint-down (768px) {
    .about-section {
        margin-top: 0;
        padding-top: 40px;
    }
}
@include breakpoint-down (425px) {
    .about-section {
        margin-top: 0;
        text-align: center;
        padding-top: 40px;
        padding-left: 0;
    }
    .about-section__lead {
        font-size: 30px;
        line-height: 37px;
    }
    .about-section__text {
        width: 95%;
        font-size: 15px;
        line-height: 25px;
    }
    .about-section__item {
        width: 100%;
        margin: 0;
    }
    .about-section__item ~ .about-section__item {
        margin-left: 0;
        margin-top: 30px;
    }
}
@include breakpoint-down (300px) {
    .about-section {
        margin-top: 0;
        text-align: center;
        padding-top: 30px;
        padding-left: 0;
    }
    .about-section__lead {
        font-size: 30px;
        line-height: 37px;
    }
    .about-section__text {
        width: 95%;
        font-size: 15px;
        line-height: 25px;
    }
    .about-section__list {
        flex-direction: column;

    }
    .about-section__item {
        width: 100%;
        margin: 0;
    }
    .about-section__item ~ .about-section__item {
        margin-left: 0;
        margin-top: 30px;
    }
}