// =========ARTICLES SECTION======================
.articles__section {
    padding-top: 80px;
    background-color: #f2f2f2;
    padding-bottom: 80px;
}
.articles__lead {
    font-weight: normal;
    font-size: 40px;
    line-height: 64px;
    margin: 0;
}
.articles__list {
    @include list-unstyled;
    margin-top: 40px;
    display: flex;
}
.articles__item {
    width: 255px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.5s;
}
.articles__item:hover {
    transform: translateY(10px);
    transition-duration: 0.5s;
    box-shadow: 0px 10px 10px #9597a5;
}

.articles__item ~ .articles__item {
    margin-left: 30px;
}
.articles__image {

}
.articles__span {
    display: block;
    font-size: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 25px;
}
.articles__link {
    display: block;
    text-decoration: none;
    color: #2d314d;
    font-size: 16px;
    line-height: 20px;
    margin-left: 25px;
    width: 80%;
    transition: all 0.3s;
}
.articles__link:hover {
    color: #30C88F;
}
.articles__text {
    font-size: 13px;
    line-height: 18px;
    color: #9597a5;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
@include breakpoint-down (1000px) {
    .articles__section {
        padding-left: 2%;
    }
    .articles__list {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .articles__item {
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .articles__item ~ .articles__item {
        margin-left: 0;
    }
    .articles__image {
        width: 100%;
    }
    
}
@include breakpoint-up (1000px) {
    .articles__section {
        padding-left: 2%;
    }
    .articles__list {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .articles__item {
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .articles__item ~ .articles__item {
        margin-left: 0;
    }
    .articles__image {
        width: 100%;
    }
    
}
@include breakpoint-down (425px) {
    .articles__section {
        padding-left: 0;
    }
    .articles__lead {
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        
    }
    .articles__list {
        flex-direction: column;
        justify-content: center;
    }
    .articles__item {
        width: 98%;
        margin-right: 0;
    }
    .articles__item ~ .articles__item {
        margin-left: 0;
        margin-top: 20px;
    }
    .articles__span {
        margin-left: 8%;
    }
    .articles__link {
        margin-left: 8%;
    }
    .articles__text {
        margin-left: 8%;
    }
}
@include breakpoint-down (300px) {
    .articles__section {
        padding-left: 0;
    }
    .articles__lead {
        font-size: 32px;
        line-height: 37px;
        text-align: center;
    }
    .articles__list {
        flex-direction: column;
    }
    .articles__item {
        width: 98%;
    }
    .articles__item ~ .articles__item {
        margin-left: 0;
        margin-top: 20px;
    }
    
}